
body{
    margin: 0;


    padding: 0;
}
.ac{
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: cornflowerblue;
    font-size: 4rem;
    color: white;
   
}
.text1{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    animation: text 5s infinite;
    display: block;
}
@keyframes text{
    0%{
        color: black;
        margin-bottom: -40px;

    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}
.mn{
    
    height: 100vh;
    background: black;
    color: lawngreen;
    padding: 100px;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    
    
    
}
.Me{
    height: 100vh;
    background-image: url(aboutmemain.png);
    background-repeat: no-repeat;
    background-size: cover;
  
}
.ah{
    font-size: 2.5rem;
}
.daeguimg{
    position: absolute;
    right: 70px;
    bottom: -1500px;
}
.rf1{
    font-size: 1rem;
    color: white;
}

.ps{
    background: grey;
    width: 100%;
    height: 100vh;
   

}
.pls{
    position: absolute;
    color: white;
    font-size: 3rem;
    left: 30px;
}
.body1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: grey;

}

.container{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    box-shadow: 0 30px 60px rgba(0,0,0,.2);
}
.container1{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    box-shadow: 0 30px 60px rgba(0,0,0,.2);
}


.circ{
    position: relative;
    width: 150px;
    height: 150px;
}
svg{
    position: relative;
    width: 150px;
    height: 150px;
}
svg circle{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: black;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
svg .css{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: black;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
svg .js{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: black;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
svg .java{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: black;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
svg .k{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: black;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
svg .jq{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: black;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
svg .c{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: black;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
svg .un{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: black;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
svg circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #f3f3f3;
}
svg circle:nth-child(2){
    stroke-dashoffset: 40;
    stroke: orange;
}
svg .css:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #f3f3f3;
}
svg .css:nth-child(2){
    stroke-dashoffset: 50;
    stroke: lightseagreen;
}
svg .js:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #f3f3f3;
}
svg .js:nth-child(2){
    stroke-dashoffset: 200;
    stroke: yellow;
}
svg .java:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #f3f3f3;
}
svg .java:nth-child(2){
    stroke-dashoffset: 150;
    stroke: red;
}
svg .k:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #f3f3f3;
}
svg .k:nth-child(2){
    stroke-dashoffset: 300;
    stroke: greenyellow;
}
svg .jq:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #f3f3f3;
}
svg .jq:nth-child(2){
    stroke-dashoffset: 55;
    stroke: pink;
}
svg .c:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #f3f3f3;
}
svg .c:nth-child(2){
    stroke-dashoffset: 150;
    stroke: purple;
}
svg .un:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #f3f3f3;
}
svg .un:nth-child(2){
    stroke-dashoffset: 275;
    stroke: black;
}
.number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: lightblue;
}
.number h2{
    font-size: 48px;
}
.number h2 span{
    font-size: 24px;
}
.text{
    color: lightblue;
}

.personality{
    background: darkkhaki;
    height: 100vh;
    list-style: none;
   
  
    
    color: white;
   

}
.persontitle{
    font-size: 2rem;
    margin-left: 30px;
}
.pe{
    position: relative;
    left: 100px;
    top: 80px;
    width: 50%;

}
.bar{
    background: #353b48;
    display: block;
    height: 4px;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;

 
}
.bar span{
    height: 4px;
    float: left;
    
}
.creative{
    width: 75%;
    background: #2187e7;
}
.patience{
    width: 65%;
    background: red;
}
.brave{
    width: 55%;
    background:violet;
}
.lonely{
    width: 60%;
    background: darkgray;
}
.humor{
    width: 90%;
    background: yellow;
}
.lead{
    width: 80%;
    background: cyan;
}
.social{
    width: 75%;
    background: pink;
}




.education{
   
    height: 140vh;
    background: lightseagreen;
    color: wheat;
    padding: 100px;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;

}
.edu{
    font-size: 2.5rem;
}
.hobby{
    height: 45vh;
    background: lightcoral;
    color: white;
    padding: 100px;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;

}
.contact{
    height: 45vh;
    background: lightslategray;
    color: white;
    padding: 100px;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;

}
#insc{
    color: white;
}
#githubc{
    color: white;
}
#fabc{
    color: white;
}
.ins{
    position: fixed;
    bottom: 450px;
    right: 20px;
    z-index: 999;
    font-size: 15px;
    padding: 5px 7px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: .5s;

}
.ins :hover{
    color: #e4405f;
    border: 1px solid #e4405f;
    transition: .5s;
    
}
.face{
    position: fixed;
    bottom: 400px;
    right: 20px;
    z-index: 999;
    font-size: 15px;
    padding: 5px 7px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: .5s;

}
.face :hover{
    color: #3b5999;
    border: 1px solid #3b5999;
    transition: .5s;
    
}
.github{
    position: fixed;
    bottom: 350px;
    right: 20px;
    z-index: 999;
    font-size: 15px;
    padding: 5px 7px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: .5s;

}
.github :hover{
    color: #b6d40b;
    border: 1px solid #b6d40b;
    transition: .5s;
    
}
.copyright{
    position: fixed;
    bottom: 20px;
    z-index: 999;
    width: 100vw;
    text-align: center;
    
  
}

.overlay{
    position: fixed;
    z-index: 999;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    
}

nav ul{
    list-style: none;
    
    padding: 0;
    margin: 0;
}
nav ul li {
    margin: 1rem 0;
    opacity: 0;
  

}
nav ul li a{
    text-decoration: none;
    color: white;
    opacity: 0.75;
    transition: opacity 0.2s ease;
}
nav ul li a:hover{
    opacity: 1;
}
@keyframes fadeInLeft{
    0% { opacity: 0; transform: translatex(-25%);}
    100% { opacity: 1; transform: translatex(0%);}
}
.overlay.visible{
    height: 100%;
    opacity: .85;
    visibility: visible;

}
.overlay.visible nav ul li{
    animation: fadeInLeft 0.3s ease forwards;

}
.mb{
    position: fixed;
   
    top: 20px;
    right: 20px;
    z-index: 999;


}

.mb :hover{
    color: greenyellow;
    opacity: 60%;
}
.myname{
    position: fixed;
    z-index: 999;
   display: flex;
   align-items: left;
   justify-content: left;
    

    font-size: 5rem;
    margin: 80px;
  
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-family: Taki,sans-serif;

   


}
.logo{
    color: white;
}
.n{
    position: fixed;
    z-index: 999;
    margin: 30px;
}
@media ( max-width: 550px){
    .myname{
        font-size: 2rem;
    }
    .ac{
        font-size: 1rem;
    }
    .ah{
        font-size: 1rem;
    }
    .Me{
        
        background-image: url(aboutmemainmobile.png);
        background-repeat: no-repeat;
        background-size: cover;
      
    }
    .daeguimg{
        position: relative;
        right: 20px;
        bottom: -10px;
       
    }
    .rf1{
        font-size: 0.75rem;
    }
    #dgmg{
        height: 200px;
        width: 200px;
    }
    .mn{
        font-size: 0.75rem;
    }
    .education{
        font-size: 0.75rem;
    }
    .edu{
        font-size: 1rem;
    }
  
    .mb{
        position: fixed;
        top: 20px;
        left: 380px;
    }
    .container{
        position: relative;
        width: 40px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: white;
        box-shadow: 0 30px 60px rgba(0,0,0,.2);
    }
  
    
    .circ{
        position: relative;
        width: 10px;
        height: 10px;
    }
    svg{
        position: relative;
        width: 10px;
        height: 10px;
    }
   
    .container{
        visibility: hidden;
    }
    .body1{
        background: url(skillpercent.JPG);
        background-size: 414px;
        background-position-x: 0.02rem;
        background-position-y: 25rem;
        background-repeat: no-repeat;
    }
    .pls{
        font-size: 1.25rem;
    }
    .text1{
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 10px;
        position: relative;
        animation: text 5s 1;
        display: block;
        color: white;
    }
    .hobby{
        font-size: 0.75rem;
    }
    .hob{
        font-size: 1rem;
    }
    .contact{
        font-size: 0.75rem;
    }
    .con{
        font-size: 1rem;
    }
    .copyright{
        bottom: 70px;
    }
    
    
    
}
@media ( width: 375px){
    .myname{
        font-size: 2rem;
    }
    .ac{
        font-size: 1rem;
    }
    .ah{
        font-size: 1rem;
    }
    .Me{
        
        background-image: url(aboutmemainmobile.png);
        background-repeat: no-repeat;
        background-size: cover;
      
    }
    .daeguimg{
        position: relative;
        right: 20px;
        bottom: -10px;
       
    }
    .rf1{
        font-size: 0.75rem;
    }
    #dgmg{
        height: 200px;
        width: 200px;
    }
    .mn{
        font-size: 0.75rem;
    }
    .education{
        font-size: 0.75rem;
    }
    .edu{
        font-size: 1rem;
    }
  
    .mb{
        position: fixed;
        top: 20px;
        left: 350px;
    }
    .container{
        position: relative;
        width: 40px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: white;
        box-shadow: 0 30px 60px rgba(0,0,0,.2);
    }
  
    
    .circ{
        position: relative;
        width: 10px;
        height: 10px;
    }
    svg{
        position: relative;
        width: 10px;
        height: 10px;
    }
   
    .container{
        visibility: hidden;
    }
    .body1{
        background: url(skillpercent.JPG);
        background-size: 375px;
        background-position-x: 0.02rem;
        background-position-y: 25rem;
        background-repeat: no-repeat;
    }
    .pls{
        font-size: 1.25rem;
    }
    .text1{
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 10px;
        position: relative;
        animation: text 5s 1;
        display: block;
        color: white;
    }
    .hobby{
        font-size: 0.75rem;
    }
    .hob{
        font-size: 1rem;
    }
    .contact{
        font-size: 0.75rem;
    }
    .con{
        font-size: 1rem;
    }
    .copyright{
        bottom: 150px;
    }
    
    
    
}
@media ( max-height: 667px){
    .myname{
        font-size: 2rem;
    }
    .ac{
        font-size: 1rem;
    }
    .ah{
        font-size: 1rem;
    }
    .Me{
        
        background-image: url(aboutmemainmobile.png);
        background-repeat: no-repeat;
        background-size: cover;
      
    }
    .daeguimg{
        position: relative;
        right: 20px;
        bottom: -10px;
       
    }
    .rf1{
        font-size: 0.75rem;
    }
    #dgmg{
        height: 200px;
        width: 200px;
    }
    .mn{
        font-size: 0.75rem;
    }
    .education{
        font-size: 0.75rem;
    }
    .edu{
        font-size: 1rem;
    }
  
    .mb{
        position: fixed;
        top: 20px;
        left: 350px;
    }
    .container{
        position: relative;
        width: 40px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: white;
        box-shadow: 0 30px 60px rgba(0,0,0,.2);
    }
  
    
    .circ{
        position: relative;
        width: 10px;
        height: 10px;
    }
    svg{
        position: relative;
        width: 10px;
        height: 10px;
    }
   
    .container{
        visibility: hidden;
    }
    .body1{
        background: url(skillpercent.JPG);
        background-size: 375px;
        background-position-x: 0.02rem;
        background-position-y: 25rem;
        background-repeat: no-repeat;
    }
    .pls{
        font-size: 1.25rem;
    }
    .text1{
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 10px;
        position: relative;
        animation: text 5s 1;
        display: block;
        color: white;
    }
    .hobby{
        font-size: 0.75rem;
    }
    .hob{
        font-size: 1rem;
    }
    .contact{
        font-size: 0.75rem;
    }
    .con{
        font-size: 1rem;
    }
    .copyright{
        bottom: 30px;
    }
    
    
    
}
@media ( max-height: 640px){
    .myname{
        font-size: 2rem;
    }
    .ac{
        font-size: 1rem;
    }
    .ah{
        font-size: 1rem;
    }
    .Me{
        
        background-image: url(aboutmemainmobile.png);
        background-repeat: no-repeat;
        background-size: cover;
      
    }
    .daeguimg{
        position: relative;
        right: 20px;
        bottom: -10px;
       
    }
    .rf1{
        font-size: 0.75rem;
    }
    #dgmg{
        height: 200px;
        width: 200px;
    }
    .mn{
        font-size: 0.75rem;
    }
    .education{
        font-size: 0.75rem;
    }
    .edu{
        font-size: 1rem;
    }
  
    .mb{
        position: fixed;
        top: 20px;
        left: 330px;
    }
    .container{
        position: relative;
        width: 40px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: white;
        box-shadow: 0 30px 60px rgba(0,0,0,.2);
    }
  
    
    .circ{
        position: relative;
        width: 10px;
        height: 10px;
    }
    svg{
        position: relative;
        width: 10px;
        height: 10px;
    }
   
    .container{
        visibility: hidden;
    }
    .body1{
        background: url(skillpercent.JPG);
        background-size: 360px;
        background-position-x: 0.02rem;
        background-position-y: 25rem;
        background-repeat: no-repeat;
    }
    .pls{
        font-size: 1.25rem;
    }
    .text1{
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 10px;
        position: relative;
        animation: text 5s 1;
        display: block;
        color: white;
    }
    .hobby{
        font-size: 0.75rem;
    }
    .hob{
        font-size: 1rem;
    }
    .contact{
        font-size: 0.75rem;
    }
    .con{
        font-size: 1rem;
    }
    .copyright{
        bottom: 30px;
    }
    .face{
        position: fixed;
        bottom: 300px;
        right: 20px;
        z-index: 999;
        font-size: 15px;
        padding: 5px 5px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50%;
        transition: .5s;
    
    }
    .ins{
        position: fixed;
        bottom: 350px;
        right: 20px;
        z-index: 999;
        font-size: 15px;
        padding: 5px 5px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50%;
        transition: .5s;
    
    }
    .github{
        position: fixed;
        bottom: 250px;
        right: 20px;
        z-index: 999;
        font-size: 15px;
        padding: 5px 5px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50%;
        transition: .5s;
    
    }
    
    
    
    
}
@media ( max-height: 600px){
    .myname{
        font-size: 2rem;
    }
    .ac{
        font-size: 1rem;
    }
    .ah{
        font-size: 1rem;
    }
    .Me{
        
        background-image: url(aboutmemainmobile.png);
        background-repeat: no-repeat;
        background-size: cover;
      
    }
    .daeguimg{
        position: relative;
        right: 20px;
        bottom: -10px;
       
    }
    .rf1{
        font-size: 0.75rem;
    }
    #dgmg{
        height: 200px;
        width: 200px;
    }
    .mn{
        font-size: 0.75rem;
    }
    .education{
        font-size: 0.75rem;
    }
    .edu{
        font-size: 1rem;
    }
  
    .mb{
        position: fixed;
        top: 20px;
        left: 300px;
    }
    .container{
        position: relative;
        width: 20px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: white;
        box-shadow: 0 30px 60px rgba(0,0,0,.2);
    }
  
    
    .circ{
        position: relative;
        width: 10px;
        height: 10px;
    }
    svg{
        position: relative;
        width: 10px;
        height: 10px;
    }
   
    .container{
        visibility: hidden;
    }
    .body1{
        background: url(skillpercent.JPG);
        background-size: 320px;
        background-position-x: 0.02rem;
        background-position-y: 25rem;
        background-repeat: no-repeat;
    }
    .pls{
        font-size: 1.25rem;
    }
    .text1{
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 10px;
        position: relative;
        animation: text 5s 1;
        display: block;
        color: white;
    }
    .hobby{
        font-size: 0.75rem;
    }
    .hob{
        font-size: 1rem;
    }
    .contact{
        font-size: 0.6rem;
    }
    .con{
        font-size: 1rem;
    }
    .copyright{
        bottom: 30px;
    }
    .face{
        position: fixed;
        bottom: 300px;
        right: 20px;
        z-index: 999;
        font-size: 15px;
        padding: 5px 5px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50%;
        transition: .5s;
    
    }
    .ins{
        position: fixed;
        bottom: 350px;
        right: 20px;
        z-index: 999;
        font-size: 15px;
        padding: 5px 5px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50%;
        transition: .5s;
    
    }
    .github{
        position: fixed;
        bottom: 250px;
        right: 20px;
        z-index: 999;
        font-size: 15px;
        padding: 5px 5px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50%;
        transition: .5s;
    
    }
    .personality{
        height: 120vh;
    }
    
    
    
    
    
    
}

